@font-face {
    font-family: "A-OTF Folk Pro B";
    src: url("../../fonts/A-OTF Folk Pro B.otf") format("opentype");
}

.MeleeCaptionBox {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);

    width: 520px;
    height: 55px;

    background: rgba(0, 0, 0, 0.15);

    border: 4px solid rgba(210, 215, 230, 0.9);
    border-radius: 8px;

    box-shadow: 
        0 0 8px rgba(210, 215, 230, 0.8),
        inset 0 0 8px rgba(210, 215, 230, 0.35);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2;
}

.MeleeCaption {
    color: #70758B;
    font-size: 15px;
    font-weight: bold;
    font-family: "A-OTF Folk Pro B", serif;
}